<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Annotations.Annotations_testng">
      	<methods>
      		<include name="Demo1"></include>
      		<include name="Demo2"></include>
      	</methods>
      </class>
      
       <class name="Annotations.Annotationtesting">
      	<methods>
      		<include name="Demo3"></include>
      		<include name="Demo4"></include>
      	</methods>
      </class>
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
